/* Compartilhados */
	pre.prettyprint, .Numbers, .Code, body{
		padding: 0;
		margin: 0;
		border: none;
	}

	.Code, .Memory{
		width: 100%;
		overflow: auto;
	}

	table.row-clickable tbody tr td {
		padding: 0;
	}
	
	table.row-clickable tbody tr td a {
		text-decoration: none;
		color: #212529;
		display: block;
		padding: 8px;
	}

/* Classes Base*/

	.table td{
		padding-top: 0;
		padding-bottom: 0.2em;
	}

	.Numbers{
		float: left;
		border-top-left-radius: 0.3cm;
		border-bottom-left-radius: 0.3cm;
	}

	.Code{
		overflow-x: auto;
		background-color: #DDD;
		margin-right: 0.5em;
	}

	.Load{
		position: relative;
	}

/*Filhos das classes*/
	.Numbers div{
		font-family: monospace;
		text-align: right;
		padding: 0 0.2em 0 0.5em;
	}

	pre{
		overflow: visible;
		font-family: monospace;
		font-size: 1em;
		tab-size: 3em;
	}

	.Load input{
		position: absolute;
		top: 0;
		right: 0;
		margin: 0;
		opacity: 0;
		-ms-filter: 'alpha(opacity=0)';
		width: 100%;
		height: 100%;
		direction: ltr;
	}

/* Uteis */
	.flex{
		display: flex;
	}

	.float-L{
		float: left !important;
	}

	.float-R{
		float: right !important;
	}

	.Dark-Base{
		background-color: #212529;
		color: beige;
	}

	.Light-Base{
		background-color: #DDD;
	}

/* Linhas ativas */
	.Code pre.Ativo{
		background: #cacaca;
	}
	.Code span.Executando{
		background: coral;
	}
	.Numbers div.Ativo{
		color: coral;
		background-color: rgb(37, 37, 37);
	}

/* Tabela de Memória */

	.MCol2 input{ 
		min-width: 9em; 
		max-width: 9em; 
	} 

	.MCol3 input{ 
		min-width: 4em; 
		max-width: 4em; 
	} 

	.MCol4 input{ 
		min-width: 10em; 
		max-width: 10em; 
		display: inline-block; 
	} 

	.MCol2 input, .MCol3 input, .MCol4 input{
		border-width: 0 0 0.1em 0;
		border-style: solid;
		background-color: inherit;
	}

	.MCol2 input:focus, .MCol3 input:focus, .MCol4 input:focus{
		outline: none;
	}