pre.prettyprint, .Numbers, .Code{
	padding: 0;
	margin: 0;
	border: none;
}

.Content, .Button-Group{
	display: flex;
}

.Code, .Memory{
	width: 50vw;
	overflow: auto;
}

.Numbers{
	float: left;
	background-color: #555;
	color: beige;
}

.Numbers div{
	font-family: monospace;
	text-align: right;
	
	padding: 0 0.2em 0 0.5em;
}

.Code{
	background-color: #DDD;
	padding-left: 0.5em;
}


/* Linhas ativas */
.Code pre.Ativo{
	background: coral;
}
.Numbers div.Ativo{
	color: coral;
	background-color: #333;
}