pre.prettyprint, .Numbers, .Code{
	padding: 0;
	margin: 0;
	border: none;
}

.Numbers{
	float: left;
	background-color: #555;
	color: beige;
}

.Numbers div{
	font-family: monospace;
	text-align: right;
	
	padding: 0 0.2em 0 0.5em;
}

.Code{
	background-color: #DDD;
}

.Code pre{
	padding-left: 2.1em;
}

.LinhaAtiva{
	background: coral;
}
.L20{
	color: coral;
	background-color: #333;
}